<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890809495630-rfs6cmkv1otga6n3g748p6bati0o7dre.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890809495630-rfs6cmkv1otga6n3g748p6bati0o7dre</string>
	<key>API_KEY</key>
	<string>AIzaSyDqPkEoPLASpNnj5beTI_CdBus3epygEqg</string>
	<key>GCM_SENDER_ID</key>
	<string>890809495630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YerbolAbd.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-d017e</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-d017e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:890809495630:ios:47f39b0c7905e94d89531f</string>
</dict>
</plist>
